
<div class="row">
  <div class="medium-8 columns">
    <div class="row">
      <div class="medium-6 columns">
<p>
  <%= image_tag(@zombie.avatar_url, :width => 1000, :height => 100) if @zombie.avatar.present? %>
</p>
</div>
<div class="medium-6 columns">
<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @zombie.age %>
</p>

<p>
  <strong>Email :</strong>
  <%= @zombie.email %>
</p>

<p>
  <strong>Rotten:</strong>
  <%= @zombie.rotten %>
</p>
</div>
</div>
</div>
</div>
<table>
<thead>
    <tr>
      <th width=25%>Flavor</th>
      <th width=25%>Iq</th>
      <th width=25%>Fresh</th>
      <th width=25%>Agregado</th>
      <th colspan="3"></th>
    </tr>   
  </thead>
</table>  

<div id="brains">
  <%= render :partial => @zombie.brains.reverse %>
</div>

<%= form_for([@zombie, Brain.new], remote: true) do |f| %>

<% if current_user.role === "suscriber" %>

<%else%>
<div class="field">
  <%= f.label :flavor %>
  <%= f.text_field :flavor %>
</div>


<div class="field">
  <%= f.label :iq %>
  <%= f.number_field :iq %>
</div>

<div class="field">
  <%= f.label :fresh %>
  <%= f.check_box :fresh %>
</div>

<div class="actions">
  <%= f.submit "Add brains", class: "button primary" %>
</div>
<% end %>
<%end%>
<%= link_to 'Edit', edit_zombie_path(@zombie), class: "button secondary" %> |
<%= link_to 'Back', zombies_path, class: "button success" %>
